body{
    margin: 0;
    font-size: 16px;
    background-color: blue;
    font-weight: 400;
    
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: none;
}

.custom-box.hide{
    display: none;
}

.custom-box{
    max-width: 700px;
    background-color: white;
    margin-top: 30px;
    padding: 30px;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
}

.custom-box::before,
.custom-box::after{
    content: '';
    clear: both;
    display: table;
}

.home h2{
    text-align:center;
    font-size: 18px;
    color: #000000;
    font-weight: 500;
    margin-bottom: 15px;
    line-height: 25px;
}

.home p{
    text-align: center;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 16px;
    margin-bottom: 10px;
    line-height: 22px;
    color: black;
    font-weight: 400;
}

.home p span{
    font-weight: 500;
}

.home .btn{
    margin-top: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.btn {
    padding: 15px 45px;
    background-color: teal;
    color: #ffffff;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    cursor: pointer;
    display: inline-block;
}

.quiz .question-number,
.quiz .question-text,
.quiz .option-container,
.quiz .next-question-btn{
    width: 100%;
    float: left;
}

.quiz .question-number{
    font-size: 18px;
    color:purple;
    font-weight: 600;
    border-bottom:1px solid #cccccc;
    padding-bottom: 10px ;
    line-height: 25px;
}

.quiz .question-text{
    font-size: 22px;
    color:black;
    line-height: 28px;
    font-weight: 400;
    padding: 20px 0;
    margin: 0;
}

.quiz .option-container .option{
    background-color: #cccccc;
    padding: 15px;
    font-size: 16px;
    line-height: 22px;
    color: #000000;
    border-radius: 5px;
    margin-bottom: 5px;
    cursor: pointer;
    text-transform: capitalize;
    opacity: 0;
    animation: fadeIn 0.3s ease forwards;
    position: relative;
    overflow:hidden;
}

@keyframes fadeIn{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

.quiz .option-container .option.correct::before{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: green;
    z-index: -1;
    animation: slideInLeft .5s ease forwards;
}

@keyframes slideInLeft{
    0%{
        transform: translateY(-100%);
    }
    100%{
        transform: translateY(0%);
    }
}

.quiz .option-container .option.correct{
    color: black;
}

.quiz .option-container .option.wrong::before{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    animation: slideInLeft .5s ease forwards;
    background-color: red;
}

.quiz .option-container .option.wrong{
    color: black;
}

.quiz .option-container .option.already-answered{
    pointer-events: none;
}

.quiz .btn {
    margin: 15px 0;
}

.quiz .time{
    text-align: center;
    background-color: #cec2c2;
    width: 100%;
    height: 50px;
    padding-top: 1.5%;
    padding-left: 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    border-radius: 5px;
}

.result{
    text-align: center;
}

.result h2{
    font-size: 36px;
    line-height: 42px;
    color: #000000;
}

.result table{
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
}

.result table td{
    padding: 5px;
    border: 1px solid black;
    padding-left: 10px;
    font-weight: 500;
    color: #000000;
    width: 50%;
    font-size: 18px;
}

.result tr{
    padding-top: 12px;
    
    padding-bottom: 12px;
    text-align:left;
    color: white;
}
